discord.py
discord-ext-voice-recv
aiohttp
requests
python-dotenv
google-generativeai
flask
waitress
beautifulsoup4
yt-dlp
psycopg2-binary
edge-tts
SpeechRecognition
pydub
numpy
Pillow
ddgs
PyNaCl
pytz
